nav {
  display: flex;
  align-items: center;
  justify-content: space-between;
  height: 5rem;
  color: white;
  padding: 1rem;
  font-size: 1.2rem;
}

.header--image {
  height: 10rem;
  width: 10rem;
  margin-right: 6px;
}

#nav-links {
  display: flex;
  gap: 0.8rem;
  
}

#logo {
  object-fit: contain;
}
