.header {
  display: flex;
  align-items: center;
  height: 80px;
  color: white;
  padding: 20px;
}

.header--image {
  height: 30px;
  width: 30px;
  margin-right: 6px;
}

#nav-links {
  display: flex;
  gap: 0.5rem;
}

#logo {
  object-fit: contain;
}
